.main{
    align-items: center;
    color:white;
    background-color:transparent;
    text-align: left;
}
input{
    margin:7px;
    padding:5px 10px;
    outline: none;
    border:none;
    color:black;
    size:100px;
}
input[type="date"]{
    width:150px;
}
th{
    color:black;
}
textarea{
    width: 250px;
    height: 80px;
}