.main{
    align-items: center;
    color:black;
    background-color:transparent;
    text-align: left;
}
input{
    margin:7px;
    padding:5px 10px;
    color:black;
    outline: none;
    border:none;
}
input[type="date"]{
    width:150px;
}
th{
    color:black;
}