.login-container {
    width: 300px;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  input {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
  }
  @media (max-width: 768px) {
    .login-container {
      width: 100%;
    }
  }
  